.box{
    width: 100%;
    height: 200px;
    background-color: #D9D9D9;

}
body{
    margin: 0;
    font-family: ena;
}
.inner{
    background-color: #D9D9D9;
    height: 100%;
    width:fit-content;
margin:0 auto;
padding-top: 50px;
padding-bottom: 50px;
box-sizing: border-box;
}

@font-face {
    font-family: ena;
    src: url(../font/alk_life.otf);
}
.nav{
    display: flex;
    margin-left: 100px;
}